body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
  color: white;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34495e;
  padding: 10px 20px;
}

header .logo {
  width: 50px;
  cursor: pointer;
}

header .menu a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header .menu a:hover {
  background-color: #1abc9c;
  border-radius: 5px;
}

.welcomePage {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./images/background.jpg') no-repeat center center/cover;
}

.welcome-buttons button {
  background-color: #1abc9c;
  border: none;
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.welcome-buttons button:hover {
  transform: scale(1.1);
  background-color: #16a085;
}

.welcome-message {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #bdc3c7;
  max-width: 40%;
  margin: auto;
  font-size: 18px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.welcome-message h1 {
  font-size: 30px;
  color: #1c53a5;
}

.welcome-message p {
  font-size: 16px;
  color: #2c3e50;
  font-weight: bold;
}

.hidden {
  display: none;
}

footer {
  background-color: #34495e;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #1abc9c;
  text-decoration: none;
  font-size: 14px;
}

footer a:hover {
  text-decoration: underline;
}

.login-box, .signUp-box {
  background: #ecf0f1;
  color: #2c3e50;
  border-radius: 10px;
  padding: 30px;
  max-width: 400px;
  margin: 50px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.login-box h2, .signUp-box h2 {
  margin-bottom: 20px;
  color: #34495e;
}

h2 {
  font-size: 50px;
}

.user-box {
  margin: 10px 0;
  align-items: center;
  display: flex;
}

.user-box label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  display: block;
}

.user-box input {
  width: 60%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}

.user-box .error {
  display: block;
  color: red;
  font-size: 12px;
  text-align: center;
}

button {
  display: inline-block;
  background: #1abc9c;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #16a085;
}

